{% extends 'base.html.twig' %}

{% block title %} {{ 'Produit.produits'|trans }} {% endblock %}

{% block body %}
<br>
<h1>{{ 'Produit.titre'|trans }}</h1>
<br>
    {% if produits is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>{{ 'Photo'|trans }}</th>
                    <th>{{ 'Produit.nom'|trans }}</th>
                    <th>{{ 'Produit.description'|trans }}</th>
                    <th>{{ 'Qte'|trans }}</th>
                    <th>{{ 'Produit.prix'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                    <tr>
                        <td>
                            {% if produit.photo is not null %}
                                <img src="{{asset('/uploads/'~ produit.photo)}}">
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('produit_view', {'id':produit.id}) }}">
                                {{produit.nom}}
                            </a>
                        </td>
                        <td>{{produit.description}}</td>
                        <td>{{produit.stock}}</td>
                        <td>{{produit.prix}} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>{{ 'Produit.noproduit'|trans }}</p>
    {% endif %}

    {% if is_granted('ROLE_ADMIN') %}
        <hr>
        <button type="button" class="btn btn-warning">
            <a href="{{ path('produit_new') }}">{{ 'Produit.ajout'|trans }}</a>
        </button>
    {% endif %}

{% endblock %}