{% extends 'base.html.twig' %}

{% block title %} {{ 'Produit.produits'|trans }} {% endblock %}

{% block body %}
<h1>{{ 'Produit.titre'|trans }}</h1>

    {% if produits is not empty %}
        <table class="table">
            <thead>
                <tr>
                    <th>Photo</th>
                    <th>{{ 'Produit.nom'|trans }}</th>
                    <th>Description</th>
                    <th>{{ 'Produit.qte'|trans }}</th>
                    <th>{{ 'Produit.prix'|trans }}</th>
                </tr>
            </thead>
            <tbody>
                {% for produit in produits %}
                    <tr>
                        <td>
                            {% if produit.photo is not null %}
                                <img src="{{asset('/uploads/'~ produit.photo)}}">
                            {% endif %}
                        </td>
                        <td>
                            <a href="{{ path('produit_view', {'id':produit.id}) }}">
                                {{produit.nom}}
                            </a>
                        </td>
                        <td>{{produit.description}}</td>
                        <td>{{produit.qte}}</td>
                        <td>{{produit.prix}} €</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

    {% else %}
        <p>{{ 'Produit.noproduit'|trans }}</p>
    {% endif %}

    <h2>{{ 'Produit.ajout'|trans }}</h2>
    {{form(form_produit_ajout)}}

{% endblock %}