{% extends 'base.html.twig' %}

{% block title %}{{ produit.nom }}{% endblock %}

{% block body %}
    <h1>{{ produit.nom }}</h1>
    <p>{{ produit.description }}</p>

    {% if produit.photo is not null %}
        <img src="{{ asset('uploads/' ~ produit.photo) }}">
    {% endif %}

    <p>{{ 'Produit.stock'|trans }} {{ produit.stock }}</p>
    <p>{{ produit.prix }} €</p>

    <br>
    <h2>{{ 'Produit.aupanier'|trans }}</h2>
    {{form(form_panier_ajout)}}

    {% if is_granted('ROLE_ADMIN') %}
        <hr>
        <button type="button" class="btn btn-warning">
            <a href="{{ path('edit_produit', {'id': produit.id}) }}">{{ 'Produit.modif'|trans }}</a>
        </button>

        <button type="button" class="btn btn-danger">
            <a href="{{ path('produit_delete', {'id':produit.id}) }}">
                {{ 'Produit.suppr'|trans }}
            </a>
        </button>
    {% endif %}


{% endblock %}